$phone: 576px;
$tablet: 1024px;
$laptop: 1440px;
//-------------

@mixin RWD($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin Phone {
 @include RWD($phone) {
	@content
  }
}