@import "styles/color";

.input {
    border: 1px solid $grey;
    padding: 8px;
    font-size: 18px;
    color: $primary;
    line-height: 1.5;
	cursor: default;

    &::placeholder {
        color: $grey;
    }

	&:focus {
		border-color: $primary;
	}
}
