@import "styles/color";

.carousel {
	position: relative;

	.windowWrapper {
		width: 100%;
		overflow: hidden;

		.itemList {
			display: flex;
			transition: 0.4s transform linear;

			img {
				width: 100%;
			}
		}
	}

	.indicator {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid $grey;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&:first-child {
			right: calc(100% + 16px);
		}

		&:last-child {
			left: calc(100% + 16px);
		}
	}
}