.searchBox {
	& > .filters {
		display: flex;
		align-items: center;
		margin-bottom: 16px;

		& > .filter {
			flex: 1 1 auto;

			& + .filter {
				margin-left: 10px;
			}
		}
	}

	&.small {
		& > .filters {
			width: 50%;
		}
	}
}