.searchBox {
	& > .filters {
		display: flex;
		align-items: center;
		margin-bottom: 16px;

		& > .filter {
			flex: 1 1 auto;

			& + .filter {
				margin-left: 10px;
			}
		}
	}

	&.small {
		& > .filters {
			width: 50%;
		}
	}
}

.search {
    display: flex;
    align-items: stretch;
   
    & > input {
        flex: 1 1 auto;
        margin-right: 10px;
    }

	&.big {
		flex-direction: column;

		& > input {
			margin-right: 0;
			margin-bottom: 16px;
		}
	}
}