.search {
    display: flex;
    align-items: stretch;
   
    & > input {
        flex: 1 1 auto;
        margin-right: 10px;
    }

	&.column {
		flex-direction: column;

		& > input {
			margin-right: 0;
			margin-bottom: 16px;
		}
	}
}