@import "styles/color";

.top {
	display: flex;
	flex-direction: column;

	& > .banner {
		position: relative;
		height: 80vh;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.slogan {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			p {
				text-align: center;
				font-size: 36px;
				line-height: 1.5;
				font-weight: 500;
				color: white;
				margin: 0;
			}
		}
	}

	& > .searchBox {
		width: 100%;
		max-width: 796px;
		margin: -40px auto 0;
		padding: 32px;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
		background-color: white;
		z-index: 2;

		& > .filters {
			display: flex;
			margin-top: 24px;

			& > .filter {
				width: 120px;

				& + .filter {
					margin-left: 24px;
				}
			}
		}
	}
}

.bottom {
	margin: 64px 240px;

	.block {
		padding: 64px 0;
		border-bottom: 1px solid $light-grey;

		& > .title {
			font-size: 24px;
			color: $primary;
			font-weight: 500;
			margin: 0 0 24px 0;
		}
	}
}
