@import "styles/color";
@import "styles/breakpoints";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@400;500&display=swap');
* {
	font-family: "Noto Sans", "Noto Sans TC", sans-serif;
	font-weight: normal;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

button,
input {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;
}

p {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.content {
		flex: 1 1 auto;
		margin-bottom: 80px;
	}
}
